body{
    background-color: rgb(248, 228, 192);
}
.abstract{
    background-color: whitesmoke;
    width: 60%;
    height: 400px;
    margin-left: 100px auto;
    display: flex;
    position: relative;
    text-align: center;
    margin:80px auto;
}
.text{
    flex-basis: 60%;
    padding: 80px;
}
img{
    width: 350px;
    height: 300px;
}
h2{
    font-family: cursive;
    font-size: medium;
    color: burlywood;
    padding-bottom: 80%;
}
